*{
    padding: 0;
    margin: 0;
    font-family:"Georgia", 'Times New Roman', Times, serif;

}

.container-main{
    min-height: 100vh;
    background-image:linear-gradient(rgba(13, 4, 30, 0.7), rgba(55, 55, 58, 0.7)), url(img/bg-home.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color:white;
}
.main-hr{
    margin-left: 19%;
    margin-right: 19%;
    height: 2px;
    background-color: #bb00ff;
    border: none;
    color: #bb00ff;

}

.navbar{
    /* padding: 0px 50px; */
    text-align: center;
    list-style-type: none;
    width: auto;
}
.nav-img{

    float: left;
}
.navbar-ul li{
    display: inline-block;
    padding: 3% 12px;
    padding-bottom: 10PX;


}
.navbar-ul li a{
    font-size: 20px;
    align-items: center;
    display: block;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}

.navbar-ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #bb00ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar-ul li:hover::after{
    width: 100%;
}

.home-text{
    /* padding: 2%; */
    text-align: center;
}
.home-text h1{
    font-size: 250% ;
    padding-top: 3%;
    padding-bottom: 6%;
}
.home-text h2{
    font-size: 120%;
}
.home-text p{
    
    text-align:justify;
    font-size: 20px;
    padding: 15%;
    padding-top: 3%;
    padding-bottom: 5%;
}
.programs{
    text-align: center;
}

.prog{
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    color: black;
    text-align: center;
}
.programs h1{
    font-size: 60px;
}
.prog2{
    flex-basis:23%;
    background: #7e70fb;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 40px;
    box-sizing: border-box;
    transition: 0.25s;

}
.prog2 h3{
    padding-top: 7%;
    padding-bottom: 20%;
}
.prog2 p{
    padding-bottom: 10%;
}
h2{
    text-align:center;
    font-weight: 600;
    margin: 10px 0;
}

.prog2:hover{
    box-shadow: 0 0 50px 0px rgba(114, 114, 114, 0.53);
}

.main-footer{
    color: white;
    text-align: center;
    background-color: #6A6B6A;
}
.main-footer p{
    padding-top: 10%;
    padding-bottom: 10%;
}
.main-support-div{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    
}

.main-support-div h1{
    font-size: 60px;
    margin-bottom: 4%;
}

.sup-card{
    display: flex;
    justify-content: space-between;
    
}

.sup-card img{
    width: 30%;
}

/* DONATION .html */
.container-donate{
    background-color: black;
    color: white;
}
.donation{
    text-align: center;
}
.donation h1{
    font-size: 60px;
    padding-top: 10%;
}
.donation-text{
    padding: 5%;
    width:30%;
    padding-left: 5%;
}
.donation-text p{
    text-align: justify;
}
/* WORK .html */
.container-work{
    background-color: black;
    color:white;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image:linear-gradient(rgba(13, 4, 30, 0.7), rgba(55, 55, 58, 0.7)), url(img/bg2.jpg);
}
.work{
    text-align: center;
}
.work h1{
    font-size: 60px;
    padding-top: 7%;
    text-align: center ;
}
.work-text{
    /*padding: 5%;*/
    width:80%;
    padding-left: 5%;
}
.work-text p{
    padding-top: 2%;
    text-align: justify;
    font-size: 18px;
    padding-bottom: 20%;
  
}
.edu{
    text-align: center;
}
.edu h2{
    font-size: 40px;
    padding-top: 4%;
    text-align: center ;
}
.edu-text{
    /*padding: 5%;*/
    width:80%;
    padding-left: 5%;
}
.edu-text p{
    padding-top: 2%;
    text-align: justify;
    font-size: 18px;
}
.emp{
    text-align: center;
}
.emp h2{
    font-size: 40px;
    padding-top: 4%;
    text-align: center ;
}
.emp-text{
    /*padding: 5%;*/
    width:80%;
    padding-left: 5%;
}
.emp-text p{
    padding-top: 2%;
    text-align: justify;
    font-size: 18px;
}
.Health{
    text-align: center;
}
.Health h2{
    font-size: 40px;
    padding-top: 4%;
    text-align: center ;
}
.Health-text{
    /*padding: 5%;*/
    width:80%;
    padding-left: 5%;
}
.Health-text p{
    padding-top: 2%;
    text-align: justify;
    font-size: 18px;
}
.live{
    text-align: center;
}
.live h2{
    font-size: 40px;
    padding-top: 4%;
    text-align: center ;
}
.live-text{
    /*padding: 5%;*/
    width:80%;
    padding-left: 5%;
}
.live-text p{
    padding-top: 2%;
    text-align: justify;
    font-size: 18px;
}
