*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Courier New', monospace;

}

.container-main{
    min-height: 100vh;
    background-image:linear-gradient(rgba(13, 4, 30, 0.7), rgba(55, 55, 58, 0.7)), url(img/bg-home.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.main-hr{
    margin-left: 19%;
    margin-right: 19%;
    height: 2px;
    background-color: #bb00ff;
    border: none;
    color: #bb00ff;

}

.navbar{
    /* padding: 0px 50px; */
    text-align: center;
    list-style-type: none;
    width: auto;
}
.nav-img{

    float: left;
}
.navbar-ul li{
    display: inline-block;
    padding: 3% 12px;
    padding-bottom: 10PX;


}
.navbar-ul li a{
    font-size: 20px;
    align-items: center;
    display: block;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}

.navbar-ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #bb00ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar-ul li:hover::after{
    width: 100%;
}

.home-text{
    /* padding: 2%; */
    text-align: center;
}
.home-text h1{
    font-size: 250% ;
    padding-top: 3%;
    padding-bottom: 6%;
}
.home-text h2{
    font-size: 120%;
}
.home-text p{
    
    text-align:justify;
    font-size: 20px;
    padding: 15%;
    padding-top: 3%;
    padding-bottom: 5%;
}
.prog{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    color: white;
}